light_switch_demo_hex/node-red/ble_mesh_with_gateway.json
[{"id":"a7cf796f.8237f8","type":"switch","z":"4d057ec2.a8e71","name":"","property":"payload.node","propertyType":"msg","rules":[{"t":"eq","v":"0001","vt":"str"},{"t":"eq","v":"0002","vt":"str"},{"t":"eq","v":"0003","vt":"str"},{"t":"eq","v":"0004","vt":"str"},{"t":"eq","v":"0005","vt":"str"},{"t":"eq","v":"0006","vt":"str"},{"t":"eq","v":"0007","vt":"str"},{"t":"eq","v":"0008","vt":"str"},{"t":"eq","v":"0009","vt":"str"},{"t":"eq","v":"000A","vt":"str"},{"t":"eq","v":"000B","vt":"str"},{"t":"eq","v":"000C","vt":"str"},{"t":"eq","v":"000D","vt":"str"},{"t":"eq","v":"000E","vt":"str"},{"t":"eq","v":"000F","vt":"str"},{"t":"eq","v":"0010","vt":"str"},{"t":"eq","v":"0011","vt":"str"},{"t":"eq","v":"0012","vt":"str"},{"t":"eq","v":"0013","vt":"str"},{"t":"eq","v":"0014","vt":"str"}],"checkall":"true","repair":false,"outputs":20,"x":580,"y":888,"wires":[["6397d1ce.30e88"],["4ca46661.eeea18"],["eb0f994.9e8fb68"],["3fc6b72e.6f3b58"],["4eed27b8.16a8c8"],["c31fbcf5.fad39"],["3b4341e4.8023fe"],["72b31e1f.d5926"],["de5c7357.382e4"],["9a7989cc.7d11d8"],["243a3211.704d1e"],["1c356f54.25f951"],["9e17eb7a.51b068"],["1e58f360.f2831d"],["431de4d5.53f55c"],["acd20786.2b8688"],["4462d26e.9657dc"],["4013698.4b08598"],["89039064.064e4"],["8432711a.abd85"]]},{"id":"4b4bf53d.ccf7fc","type":"function","z":"4d057ec2.a8e71","name":"add time","func":"var payload = msg.payload;\nvar message = {node : \"\", status: \"\", time: 0};\n\nmessage.node = payload.node;\nmessage.stat = payload.stat;\nmessage.time = new Date();\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":148,"wires":[["a7cf796f.8237f8"]]},{"id":"ce162645.57a258","type":"debug","z":"4d057ec2.a8e71","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":840,"y":88,"wires":[]},{"id":"6397d1ce.30e88","type":"function","z":"4d057ec2.a8e71","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":840,"y":368,"wires":[["50802cc8.849314","18c0b1b4.d277ce"],["ee3d8a7.8a05478"],["cfd695fe.4a3588"]]},{"id":"3e385328.35ac8c","type":"mqtt in","z":"4d057ec2.a8e71","name":"telemetry","topic":"devices/LED-GW/LED-GW-0001000526CEC/telemetry","qos":"2","datatype":"auto","broker":"84102f67.11d6c","x":110,"y":148,"wires":[["1941f39d.9636bc"]]},{"id":"ee3d8a7.8a05478","type":"ui_switch","z":"4d057ec2.a8e71","name":"status","label":"LED 1 status","tooltip":"","group":"901f9766.641618","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":980,"y":350,"wires":[["18c0b1b4.d277ce"]]},{"id":"cfd695fe.4a3588","type":"ui_text","z":"4d057ec2.a8e71","group":"901f9766.641618","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-MM-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":980,"y":381,"wires":[]},{"id":"18c0b1b4.d277ce","type":"function","z":"4d057ec2.a8e71","name":"","func":"var index=1;\n\nif(msg.topic === \"Data\")\n{\n    flow.set(\"node_\"+index.toString(16).toUpperCase()+\"_id\", msg.payload.node);\n}\nelse if(msg.topic === \"stat\")\n{\n    node = flow.get(\"node_\"+index.toString(16).toUpperCase()+\"_id\") || \"000\"+index.toString(16).toUpperCase();\n \n    var payload = msg.payload;\n    var message = {node : 0, stat: 0};\n\n    message.node = node;\n    message.stat = payload;\n\n    msg.topic = \"Data\";\n    msg.payload = message;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1140,"y":368,"wires":[["4bd49090.adfdb"]],"inputLabels":["3"]},{"id":"1941f39d.9636bc","type":"json","z":"4d057ec2.a8e71","name":"","property":"payload","action":"","pretty":true,"x":310,"y":148,"wires":[["4b4bf53d.ccf7fc"]]},{"id":"7519a6e9.bcae58","type":"ui_switch","z":"4d057ec2.a8e71","name":"status","label":"All Nodes","tooltip":"","group":"b6506145.09566","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":940,"y":168,"wires":[["13f61f00.490551"]]},{"id":"13f61f00.490551","type":"function","z":"4d057ec2.a8e71","name":"","func":"node = \"FFFF\";\nvar payload = msg.payload;\nvar message = {node : 0, stat: 0};\n\nmessage.node = node;\nmessage.stat = payload;\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":168,"wires":[["4bd49090.adfdb"]],"inputLabels":["3"]},{"id":"4c888855.817dd8","type":"mqtt out","z":"4d057ec2.a8e71","name":"config","topic":"devices/LED-GW/LED-GW-0001000526CEC/config","qos":"","retain":"","broker":"84102f67.11d6c","x":2040,"y":208,"wires":[]},{"id":"e158977c.6b0458","type":"ui_switch","z":"4d057ec2.a8e71","name":"status","label":"Group Control 1","tooltip":"","group":"1c8d6a76.689146","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":940,"y":216,"wires":[["9d610861.c52228"]]},{"id":"9d610861.c52228","type":"function","z":"4d057ec2.a8e71","name":"","func":"node = \"C001\";\nvar payload = msg.payload;\nvar message = {node : 0, stat: 0};\n\nmessage.node = node;\nmessage.stat = payload;\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":216,"wires":[["4bd49090.adfdb"]],"inputLabels":["3"]},{"id":"4ca46661.eeea18","type":"function","z":"4d057ec2.a8e71","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":840,"y":468,"wires":[["50802cc8.849314","7ef7f0b2.c7ba8"],["9e45709f.62a76"],["b991cad7.27d928"]]},{"id":"9e45709f.62a76","type":"ui_switch","z":"4d057ec2.a8e71","name":"status","label":"LED 2 status","tooltip":"","group":"2a53f901.f2fab6","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":980,"y":450,"wires":[["7ef7f0b2.c7ba8"]]},{"id":"b991cad7.27d928","type":"ui_text","z":"4d057ec2.a8e71","group":"2a53f901.f2fab6","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-MM-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":980,"y":481,"wires":[]},{"id":"7ef7f0b2.c7ba8","type":"function","z":"4d057ec2.a8e71","name":"","func":"var index=2;\n\nif(msg.topic === \"Data\")\n{\n    flow.set(\"node_\"+index.toString(16).toUpperCase()+\"_id\", msg.payload.node);\n}\nelse if(msg.topic === \"stat\")\n{\n    node = flow.get(\"node_\"+index.toString(16).toUpperCase()+\"_id\") || \"000\"+index.toString(16).toUpperCase();\n \n    var payload = msg.payload;\n    var message = {node : 0, stat: 0};\n\n    message.node = node;\n    message.stat = payload;\n\n    msg.topic = \"Data\";\n    msg.payload = message;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1140,"y":468,"wires":[["4bd49090.adfdb"]],"inputLabels":["3"]},{"id":"eb0f994.9e8fb68","type":"function","z":"4d057ec2.a8e71","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":840,"y":568,"wires":[["50802cc8.849314","5317bc93.865974"],["e07dd720.954e68"],["fa06de29.9d08a"]]},{"id":"e07dd720.954e68","type":"ui_switch","z":"4d057ec2.a8e71","name":"status","label":"LED 3 status","tooltip":"","group":"84fe1b64.bc28c8","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":980,"y":550,"wires":[["5317bc93.865974"]]},{"id":"fa06de29.9d08a","type":"ui_text","z":"4d057ec2.a8e71","group":"84fe1b64.bc28c8","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-MM-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":980,"y":581,"wires":[]},{"id":"5317bc93.865974","type":"function","z":"4d057ec2.a8e71","name":"","func":"var index=3;\n\nif(msg.topic === \"Data\")\n{\n    flow.set(\"node_\"+index.toString(16).toUpperCase()+\"_id\", msg.payload.node);\n}\nelse if(msg.topic === \"stat\")\n{\n    node = flow.get(\"node_\"+index.toString(16).toUpperCase()+\"_id\") || \"000\"+index.toString(16).toUpperCase();\n \n    var payload = msg.payload;\n    var message = {node : 0, stat: 0};\n\n    message.node = node;\n    message.stat = payload;\n\n    msg.topic = \"Data\";\n    msg.payload = message;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1140,"y":568,"wires":[["4bd49090.adfdb"]],"inputLabels":["3"]},{"id":"3fc6b72e.6f3b58","type":"function","z":"4d057ec2.a8e71","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":840,"y":668,"wires":[["50802cc8.849314","d6f5a55a.a40768"],["3862e4aa.2f4ffc","ce162645.57a258"],["43aa0288.d8fb9c"]]},{"id":"3862e4aa.2f4ffc","type":"ui_switch","z":"4d057ec2.a8e71","name":"status","label":"LED 4 status","tooltip":"","group":"d0c8c6fc.fa1f08","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":980,"y":650,"wires":[["d6f5a55a.a40768"]]},{"id":"43aa0288.d8fb9c","type":"ui_text","z":"4d057ec2.a8e71","group":"d0c8c6fc.fa1f08","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-MM-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":980,"y":681,"wires":[]},{"id":"d6f5a55a.a40768","type":"function","z":"4d057ec2.a8e71","name":"","func":"var index=4;\n\nif(msg.topic === \"Data\")\n{\n    flow.set(\"node_\"+index.toString(16).toUpperCase()+\"_id\", msg.payload.node);\n}\nelse if(msg.topic === \"stat\")\n{\n    node = flow.get(\"node_\"+index.toString(16).toUpperCase()+\"_id\") || \"000\"+index.toString(16).toUpperCase();\n \n    var payload = msg.payload;\n    var message = {node : 0, stat: 0};\n\n    message.node = node;\n    message.stat = payload;\n\n    msg.topic = \"Data\";\n    msg.payload = message;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1140,"y":668,"wires":[["4bd49090.adfdb"]],"inputLabels":["3"]},{"id":"4eed27b8.16a8c8","type":"function","z":"4d057ec2.a8e71","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":840,"y":768,"wires":[["50802cc8.849314","836d8288.00c88"],["fa0362c4.3d55"],["3aac9b1d.4a5ba4"]]},{"id":"fa0362c4.3d55","type":"ui_switch","z":"4d057ec2.a8e71","name":"status","label":"LED 5 status","tooltip":"","group":"55e32204.55c83c","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":980,"y":750,"wires":[["836d8288.00c88"]]},{"id":"3aac9b1d.4a5ba4","type":"ui_text","z":"4d057ec2.a8e71","group":"55e32204.55c83c","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-MM-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":980,"y":781,"wires":[]},{"id":"836d8288.00c88","type":"function","z":"4d057ec2.a8e71","name":"","func":"var index=5;\n\nif(msg.topic === \"Data\")\n{\n    flow.set(\"node_\"+index.toString(16).toUpperCase()+\"_id\", msg.payload.node);\n}\nelse if(msg.topic === \"stat\")\n{\n    node = flow.get(\"node_\"+index.toString(16).toUpperCase()+\"_id\") || \"000\"+index.toString(16).toUpperCase();\n \n    var payload = msg.payload;\n    var message = {node : 0, stat: 0};\n\n    message.node = node;\n    message.stat = payload;\n\n    msg.topic = \"Data\";\n    msg.payload = message;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1140,"y":768,"wires":[["4bd49090.adfdb"]],"inputLabels":["3"]},{"id":"c31fbcf5.fad39","type":"function","z":"4d057ec2.a8e71","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":1300,"y":368,"wires":[["50802cc8.849314","13d30fb.2b865f"],["98b9d5b1.feddb8"],["4eb4e02a.d6945"]]},{"id":"98b9d5b1.feddb8","type":"ui_switch","z":"4d057ec2.a8e71","name":"status","label":"LED 6 status","tooltip":"","group":"4eae3b97.bc8d94","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1440,"y":350,"wires":[["13d30fb.2b865f"]]},{"id":"4eb4e02a.d6945","type":"ui_text","z":"4d057ec2.a8e71","group":"4eae3b97.bc8d94","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-MM-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":1440,"y":381,"wires":[]},{"id":"13d30fb.2b865f","type":"function","z":"4d057ec2.a8e71","name":"","func":"var index=6;\n\nif(msg.topic === \"Data\")\n{\n    flow.set(\"node_\"+index.toString(16).toUpperCase()+\"_id\", msg.payload.node);\n}\nelse if(msg.topic === \"stat\")\n{\n    node = flow.get(\"node_\"+index.toString(16).toUpperCase()+\"_id\") || \"000\"+index.toString(16).toUpperCase();\n \n    var payload = msg.payload;\n    var message = {node : 0, stat: 0};\n\n    message.node = node;\n    message.stat = payload;\n\n    msg.topic = \"Data\";\n    msg.payload = message;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1600,"y":368,"wires":[["4bd49090.adfdb"]],"inputLabels":["3"]},{"id":"3b4341e4.8023fe","type":"function","z":"4d057ec2.a8e71","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":1300,"y":468,"wires":[["50802cc8.849314","122b54ec.00b09b"],["89e5c66.b7c2338"],["6f3c56ba.536948"]]},{"id":"89e5c66.b7c2338","type":"ui_switch","z":"4d057ec2.a8e71","name":"status","label":"LED 7 status","tooltip":"","group":"ac88d36f.df05c","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1440,"y":450,"wires":[["122b54ec.00b09b"]]},{"id":"6f3c56ba.536948","type":"ui_text","z":"4d057ec2.a8e71","group":"ac88d36f.df05c","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-MM-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":1440,"y":481,"wires":[]},{"id":"122b54ec.00b09b","type":"function","z":"4d057ec2.a8e71","name":"","func":"var index=7;\n\nif(msg.topic === \"Data\")\n{\n    flow.set(\"node_\"+index.toString(16).toUpperCase()+\"_id\", msg.payload.node);\n}\nelse if(msg.topic === \"stat\")\n{\n    node = flow.get(\"node_\"+index.toString(16).toUpperCase()+\"_id\") || \"000\"+index.toString(16).toUpperCase();\n \n    var payload = msg.payload;\n    var message = {node : 0, stat: 0};\n\n    message.node = node;\n    message.stat = payload;\n\n    msg.topic = \"Data\";\n    msg.payload = message;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1600,"y":468,"wires":[["4bd49090.adfdb"]],"inputLabels":["3"]},{"id":"72b31e1f.d5926","type":"function","z":"4d057ec2.a8e71","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":1300,"y":568,"wires":[["50802cc8.849314","a85141.311f3ec"],["d5cfbf6a.d9bbd"],["757f5da4.91df54"]]},{"id":"d5cfbf6a.d9bbd","type":"ui_switch","z":"4d057ec2.a8e71","name":"status","label":"LED 8 status","tooltip":"","group":"7a00a930.d26138","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1440,"y":550,"wires":[["a85141.311f3ec"]]},{"id":"757f5da4.91df54","type":"ui_text","z":"4d057ec2.a8e71","group":"7a00a930.d26138","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-MM-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":1440,"y":581,"wires":[]},{"id":"a85141.311f3ec","type":"function","z":"4d057ec2.a8e71","name":"","func":"var index=8;\n\nif(msg.topic === \"Data\")\n{\n    flow.set(\"node_\"+index.toString(16).toUpperCase()+\"_id\", msg.payload.node);\n}\nelse if(msg.topic === \"stat\")\n{\n    node = flow.get(\"node_\"+index.toString(16).toUpperCase()+\"_id\") || \"000\"+index.toString(16).toUpperCase();\n \n    var payload = msg.payload;\n    var message = {node : 0, stat: 0};\n\n    message.node = node;\n    message.stat = payload;\n\n    msg.topic = \"Data\";\n    msg.payload = message;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1600,"y":568,"wires":[["4bd49090.adfdb"]],"inputLabels":["3"]},{"id":"de5c7357.382e4","type":"function","z":"4d057ec2.a8e71","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":1300,"y":668,"wires":[["50802cc8.849314","e28ff643.e6b1d8"],["5d96b307.6865fc"],["9efd843a.cf0da8"]]},{"id":"5d96b307.6865fc","type":"ui_switch","z":"4d057ec2.a8e71","name":"status","label":"LED 9 status","tooltip":"","group":"b197f2ce.8e2fa","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1440,"y":650,"wires":[["e28ff643.e6b1d8"]]},{"id":"9efd843a.cf0da8","type":"ui_text","z":"4d057ec2.a8e71","group":"b197f2ce.8e2fa","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-MM-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":1440,"y":681,"wires":[]},{"id":"e28ff643.e6b1d8","type":"function","z":"4d057ec2.a8e71","name":"","func":"var index=9;\n\nif(msg.topic === \"Data\")\n{\n    flow.set(\"node_\"+index.toString(16).toUpperCase()+\"_id\", msg.payload.node);\n}\nelse if(msg.topic === \"stat\")\n{\n    node = flow.get(\"node_\"+index.toString(16).toUpperCase()+\"_id\") || \"000\"+index.toString(16).toUpperCase();\n \n    var payload = msg.payload;\n    var message = {node : 0, stat: 0};\n\n    message.node = node;\n    message.stat = payload;\n\n    msg.topic = \"Data\";\n    msg.payload = message;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1600,"y":668,"wires":[["4bd49090.adfdb"]],"inputLabels":["3"]},{"id":"9a7989cc.7d11d8","type":"function","z":"4d057ec2.a8e71","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":1300,"y":768,"wires":[["50802cc8.849314","a6318dec.90bd4"],["ed8e632b.02b39"],["bda4b194.e91cb"]]},{"id":"ed8e632b.02b39","type":"ui_switch","z":"4d057ec2.a8e71","name":"status","label":"LED A status","tooltip":"","group":"4773d51a.82622c","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1440,"y":750,"wires":[["a6318dec.90bd4"]]},{"id":"bda4b194.e91cb","type":"ui_text","z":"4d057ec2.a8e71","group":"4773d51a.82622c","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-MM-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":1440,"y":781,"wires":[]},{"id":"a6318dec.90bd4","type":"function","z":"4d057ec2.a8e71","name":"","func":"var index=10;\n\nif(msg.topic === \"Data\")\n{\n    flow.set(\"node_\"+index.toString(16).toUpperCase()+\"_id\", msg.payload.node);\n}\nelse if(msg.topic === \"stat\")\n{\n    node = flow.get(\"node_\"+index.toString(16).toUpperCase()+\"_id\") || \"000\"+index.toString(16).toUpperCase();\n \n    var payload = msg.payload;\n    var message = {node : 0, stat: 0};\n\n    message.node = node;\n    message.stat = payload;\n\n    msg.topic = \"Data\";\n    msg.payload = message;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1600,"y":768,"wires":[["4bd49090.adfdb"]],"inputLabels":["3"]},{"id":"955b311e.06a5d","type":"ui_ui_control","z":"4d057ec2.a8e71","name":"","x":1890,"y":148,"wires":[[]]},{"id":"50802cc8.849314","type":"function","z":"4d057ec2.a8e71","name":"","func":"var TAB_NAME=\"LED-mesh\";\nvar GROUP_PREFIX=\"Group\";\nvar DELAY=5*60*1000;\nvar current_time = new Date();\nvar found = 0;\nvar ui={\"group\": { \"show\":[], \"hide\":[] } };\n\nflow.set(msg.payload.node, msg.payload.time.getTime());\n\nfor(i=1; i<=20; i++)\n{\n    var node_id = \"node_\"+i.toString(16).toUpperCase()+\"_id\";\n    var token = flow.get(node_id) || \"0000\";\n    found = flow.get(token) || 0;\n    if((current_time.getTime() - found) > DELAY )\n    {\n        ui.group.hide.push(TAB_NAME+\"_\"+GROUP_PREFIX+\"_\"+(i-1).toString(10));\n    }\n    else\n    {\n        ui.group.show.push(TAB_NAME+\"_\"+GROUP_PREFIX+\"_\"+(i-1).toString(10));\n    }\n}\n\nmsg.payload = ui;\n\n//msg.payload = {\"group\":{\"show\":[\"LED-mesh_Group_0\", \"LED-mesh_Group_1\", \"LED-mesh_Group_2\", \"LED-mesh_Group_3\", \"LED-mesh_Group_4\", \"LED-mesh_Group_5\", \"LED-mesh_Group_6\", \"LED-mesh_Group_7\", \"LED-mesh_Group_8\", \"LED-mesh_Group_9\", \"LED-mesh_Group_10\", \"LED-mesh_Group_11\", \"LED-mesh_Group_12\", \"LED-mesh_Group_13\", \"LED-mesh_Group_14\", \"LED-mesh_Group_5\", \"LED-mesh_Group_16\", \"LED-mesh_Group_17\", \"LED-mesh_Group_18\", \"LED-mesh_Group_19\"]}};\n\nreturn msg;","outputs":1,"noerr":0,"x":1740,"y":148,"wires":[["955b311e.06a5d"]]},{"id":"72adfb6f.7a5a94","type":"ui_switch","z":"4d057ec2.a8e71","name":"status","label":"Group Control 2","tooltip":"","group":"187543de.09c98c","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":940,"y":264,"wires":[["5edd9cfa.81d714"]]},{"id":"5edd9cfa.81d714","type":"function","z":"4d057ec2.a8e71","name":"","func":"node = \"C002\";\nvar payload = msg.payload;\nvar message = {node : 0, stat: 0};\n\nmessage.node = node;\nmessage.stat = payload;\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":264,"wires":[["4bd49090.adfdb"]],"inputLabels":["3"]},{"id":"243a3211.704d1e","type":"function","z":"4d057ec2.a8e71","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":840,"y":908,"wires":[["50802cc8.849314","533e9b51.cab0e4"],["1d1aa8d0.dd5c07"],["e6aab9bf.2dd528"]]},{"id":"1d1aa8d0.dd5c07","type":"ui_switch","z":"4d057ec2.a8e71","name":"status","label":"LED B status","tooltip":"","group":"c3f1b53a.2a2738","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":980,"y":890,"wires":[["533e9b51.cab0e4"]]},{"id":"e6aab9bf.2dd528","type":"ui_text","z":"4d057ec2.a8e71","group":"c3f1b53a.2a2738","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-MM-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":980,"y":921,"wires":[]},{"id":"533e9b51.cab0e4","type":"function","z":"4d057ec2.a8e71","name":"","func":"var index=11;\n\nif(msg.topic === \"Data\")\n{\n    flow.set(\"node_\"+index.toString(16).toUpperCase()+\"_id\", msg.payload.node);\n}\nelse if(msg.topic === \"stat\")\n{\n    node = flow.get(\"node_\"+index.toString(16).toUpperCase()+\"_id\") || \"000\"+index.toString(16).toUpperCase();\n \n    var payload = msg.payload;\n    var message = {node : 0, stat: 0};\n\n    message.node = node;\n    message.stat = payload;\n\n    msg.topic = \"Data\";\n    msg.payload = message;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1140,"y":908,"wires":[["4bd49090.adfdb"]],"inputLabels":["3"]},{"id":"1c356f54.25f951","type":"function","z":"4d057ec2.a8e71","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":840,"y":1008,"wires":[["50802cc8.849314","f10063c.f6407a"],["3ce2bee8.95f802"],["2df0181b.21c378"]]},{"id":"3ce2bee8.95f802","type":"ui_switch","z":"4d057ec2.a8e71","name":"status","label":"LED C status","tooltip":"","group":"442dfb40.0e9254","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":980,"y":990,"wires":[["f10063c.f6407a"]]},{"id":"2df0181b.21c378","type":"ui_text","z":"4d057ec2.a8e71","group":"442dfb40.0e9254","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-MM-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":980,"y":1021,"wires":[]},{"id":"f10063c.f6407a","type":"function","z":"4d057ec2.a8e71","name":"","func":"var index=12;\n\nif(msg.topic === \"Data\")\n{\n    flow.set(\"node_\"+index.toString(16).toUpperCase()+\"_id\", msg.payload.node);\n}\nelse if(msg.topic === \"stat\")\n{\n    node = flow.get(\"node_\"+index.toString(16).toUpperCase()+\"_id\") || \"000\"+index.toString(16).toUpperCase();\n \n    var payload = msg.payload;\n    var message = {node : 0, stat: 0};\n\n    message.node = node;\n    message.stat = payload;\n\n    msg.topic = \"Data\";\n    msg.payload = message;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1140,"y":1008,"wires":[["4bd49090.adfdb"]],"inputLabels":["3"]},{"id":"9e17eb7a.51b068","type":"function","z":"4d057ec2.a8e71","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":840,"y":1108,"wires":[["50802cc8.849314","a94410f0.f5d8b"],["d61f2c8e.5af3a"],["714da9f.315dd58"]]},{"id":"d61f2c8e.5af3a","type":"ui_switch","z":"4d057ec2.a8e71","name":"status","label":"LED D status","tooltip":"","group":"d66f60a3.906b5","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":980,"y":1090,"wires":[["a94410f0.f5d8b"]]},{"id":"714da9f.315dd58","type":"ui_text","z":"4d057ec2.a8e71","group":"d66f60a3.906b5","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-MM-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":980,"y":1121,"wires":[]},{"id":"a94410f0.f5d8b","type":"function","z":"4d057ec2.a8e71","name":"","func":"var index=13;\n\nif(msg.topic === \"Data\")\n{\n    flow.set(\"node_\"+index.toString(16).toUpperCase()+\"_id\", msg.payload.node);\n}\nelse if(msg.topic === \"stat\")\n{\n    node = flow.get(\"node_\"+index.toString(16).toUpperCase()+\"_id\") || \"000\"+index.toString(16).toUpperCase();\n \n    var payload = msg.payload;\n    var message = {node : 0, stat: 0};\n\n    message.node = node;\n    message.stat = payload;\n\n    msg.topic = \"Data\";\n    msg.payload = message;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1140,"y":1108,"wires":[["4bd49090.adfdb"]],"inputLabels":["3"]},{"id":"1e58f360.f2831d","type":"function","z":"4d057ec2.a8e71","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":840,"y":1208,"wires":[["50802cc8.849314","ee809970.aba558"],["911b404c.7ed56"],["c7d6e091.62519"]]},{"id":"911b404c.7ed56","type":"ui_switch","z":"4d057ec2.a8e71","name":"status","label":"LED E status","tooltip":"","group":"7d3b51df.75cb5","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":980,"y":1190,"wires":[["ee809970.aba558"]]},{"id":"c7d6e091.62519","type":"ui_text","z":"4d057ec2.a8e71","group":"7d3b51df.75cb5","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-MM-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":980,"y":1221,"wires":[]},{"id":"ee809970.aba558","type":"function","z":"4d057ec2.a8e71","name":"","func":"var index=14;\n\nif(msg.topic === \"Data\")\n{\n    flow.set(\"node_\"+index.toString(16).toUpperCase()+\"_id\", msg.payload.node);\n}\nelse if(msg.topic === \"stat\")\n{\n    node = flow.get(\"node_\"+index.toString(16).toUpperCase()+\"_id\") || \"000\"+index.toString(16).toUpperCase();\n \n    var payload = msg.payload;\n    var message = {node : 0, stat: 0};\n\n    message.node = node;\n    message.stat = payload;\n\n    msg.topic = \"Data\";\n    msg.payload = message;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1140,"y":1208,"wires":[["4bd49090.adfdb"]],"inputLabels":["3"]},{"id":"431de4d5.53f55c","type":"function","z":"4d057ec2.a8e71","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":840,"y":1308,"wires":[["50802cc8.849314","2e1719b0.1b4d56"],["b99ad228.5657d"],["40290576.1c74bc"]]},{"id":"b99ad228.5657d","type":"ui_switch","z":"4d057ec2.a8e71","name":"status","label":"LED F status","tooltip":"","group":"c99352c5.c4d8c","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":980,"y":1290,"wires":[["2e1719b0.1b4d56"]]},{"id":"40290576.1c74bc","type":"ui_text","z":"4d057ec2.a8e71","group":"c99352c5.c4d8c","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-MM-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":980,"y":1321,"wires":[]},{"id":"2e1719b0.1b4d56","type":"function","z":"4d057ec2.a8e71","name":"","func":"var index=15;\n\nif(msg.topic === \"Data\")\n{\n    flow.set(\"node_\"+index.toString(16).toUpperCase()+\"_id\", msg.payload.node);\n}\nelse if(msg.topic === \"stat\")\n{\n    node = flow.get(\"node_\"+index.toString(16).toUpperCase()+\"_id\") || \"000\"+index.toString(16).toUpperCase();\n \n    var payload = msg.payload;\n    var message = {node : 0, stat: 0};\n\n    message.node = node;\n    message.stat = payload;\n\n    msg.topic = \"Data\";\n    msg.payload = message;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1140,"y":1308,"wires":[["4bd49090.adfdb"]],"inputLabels":["3"]},{"id":"acd20786.2b8688","type":"function","z":"4d057ec2.a8e71","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":1300,"y":908,"wires":[["50802cc8.849314","8486e6c1.bab398"],["12105922.97fc27"],["f6095091.a0995"]]},{"id":"12105922.97fc27","type":"ui_switch","z":"4d057ec2.a8e71","name":"status","label":"LED 10 status","tooltip":"","group":"2d635934.689d36","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1440,"y":890,"wires":[["8486e6c1.bab398"]]},{"id":"f6095091.a0995","type":"ui_text","z":"4d057ec2.a8e71","group":"2d635934.689d36","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-MM-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":1440,"y":921,"wires":[]},{"id":"8486e6c1.bab398","type":"function","z":"4d057ec2.a8e71","name":"","func":"var index=16;\n\nif(msg.topic === \"Data\")\n{\n    flow.set(\"node_\"+index.toString(16).toUpperCase()+\"_id\", msg.payload.node);\n}\nelse if(msg.topic === \"stat\")\n{\n    node = flow.get(\"node_\"+index.toString(16).toUpperCase()+\"_id\") || \"000\"+index.toString(16).toUpperCase();\n \n    var payload = msg.payload;\n    var message = {node : 0, stat: 0};\n\n    message.node = node;\n    message.stat = payload;\n\n    msg.topic = \"Data\";\n    msg.payload = message;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1600,"y":908,"wires":[["4bd49090.adfdb"]],"inputLabels":["3"]},{"id":"4462d26e.9657dc","type":"function","z":"4d057ec2.a8e71","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":1300,"y":1008,"wires":[["50802cc8.849314","9308d673.01f2c8"],["76ecbd6c.9ae684"],["dcae43dc.63bcc"]]},{"id":"76ecbd6c.9ae684","type":"ui_switch","z":"4d057ec2.a8e71","name":"status","label":"LED 11 status","tooltip":"","group":"3b1a05c0.99de6a","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1440,"y":990,"wires":[["9308d673.01f2c8"]]},{"id":"dcae43dc.63bcc","type":"ui_text","z":"4d057ec2.a8e71","group":"3b1a05c0.99de6a","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-MM-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":1440,"y":1021,"wires":[]},{"id":"9308d673.01f2c8","type":"function","z":"4d057ec2.a8e71","name":"","func":"var index=17;\n\nif(msg.topic === \"Data\")\n{\n    flow.set(\"node_\"+index.toString(16).toUpperCase()+\"_id\", msg.payload.node);\n}\nelse if(msg.topic === \"stat\")\n{\n    node = flow.get(\"node_\"+index.toString(16).toUpperCase()+\"_id\") || \"000\"+index.toString(16).toUpperCase();\n \n    var payload = msg.payload;\n    var message = {node : 0, stat: 0};\n\n    message.node = node;\n    message.stat = payload;\n\n    msg.topic = \"Data\";\n    msg.payload = message;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1600,"y":1008,"wires":[["4bd49090.adfdb"]],"inputLabels":["3"]},{"id":"4013698.4b08598","type":"function","z":"4d057ec2.a8e71","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":1300,"y":1108,"wires":[["50802cc8.849314","7f188cf4.c4fd54"],["c2e66cac.1ca92"],["c7dce802.afc608"]]},{"id":"c2e66cac.1ca92","type":"ui_switch","z":"4d057ec2.a8e71","name":"status","label":"LED 12 status","tooltip":"","group":"6d62c4f6.c9c3cc","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1440,"y":1090,"wires":[["7f188cf4.c4fd54"]]},{"id":"c7dce802.afc608","type":"ui_text","z":"4d057ec2.a8e71","group":"6d62c4f6.c9c3cc","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-MM-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":1440,"y":1121,"wires":[]},{"id":"7f188cf4.c4fd54","type":"function","z":"4d057ec2.a8e71","name":"","func":"var index=18;\n\nif(msg.topic === \"Data\")\n{\n    flow.set(\"node_\"+index.toString(16).toUpperCase()+\"_id\", msg.payload.node);\n}\nelse if(msg.topic === \"stat\")\n{\n    node = flow.get(\"node_\"+index.toString(16).toUpperCase()+\"_id\") || \"000\"+index.toString(16).toUpperCase();\n \n    var payload = msg.payload;\n    var message = {node : 0, stat: 0};\n\n    message.node = node;\n    message.stat = payload;\n\n    msg.topic = \"Data\";\n    msg.payload = message;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1600,"y":1108,"wires":[["4bd49090.adfdb"]],"inputLabels":["3"]},{"id":"89039064.064e4","type":"function","z":"4d057ec2.a8e71","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":1300,"y":1208,"wires":[["50802cc8.849314","e3fc745d.26a368"],["27af59a4.40ccd6"],["ead60489.0a5e18"]]},{"id":"27af59a4.40ccd6","type":"ui_switch","z":"4d057ec2.a8e71","name":"status","label":"LED 13 status","tooltip":"","group":"4eef8631.dfe928","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1440,"y":1190,"wires":[["e3fc745d.26a368"]]},{"id":"ead60489.0a5e18","type":"ui_text","z":"4d057ec2.a8e71","group":"4eef8631.dfe928","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-MM-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":1440,"y":1221,"wires":[]},{"id":"e3fc745d.26a368","type":"function","z":"4d057ec2.a8e71","name":"","func":"var index=19;\n\nif(msg.topic === \"Data\")\n{\n    flow.set(\"node_\"+index.toString(16).toUpperCase()+\"_id\", msg.payload.node);\n}\nelse if(msg.topic === \"stat\")\n{\n    node = flow.get(\"node_\"+index.toString(16).toUpperCase()+\"_id\") || \"000\"+index.toString(16).toUpperCase();\n \n    var payload = msg.payload;\n    var message = {node : 0, stat: 0};\n\n    message.node = node;\n    message.stat = payload;\n\n    msg.topic = \"Data\";\n    msg.payload = message;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1600,"y":1208,"wires":[["4bd49090.adfdb"]],"inputLabels":["3"]},{"id":"8432711a.abd85","type":"function","z":"4d057ec2.a8e71","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":1300,"y":1308,"wires":[["50802cc8.849314","a63df578.3afb98"],["5a08127c.3241dc"],["47c57534.b72d3c"]]},{"id":"5a08127c.3241dc","type":"ui_switch","z":"4d057ec2.a8e71","name":"status","label":"LED 14 status","tooltip":"","group":"3149842.308207c","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1440,"y":1290,"wires":[["a63df578.3afb98"]]},{"id":"47c57534.b72d3c","type":"ui_text","z":"4d057ec2.a8e71","group":"3149842.308207c","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-MM-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":1440,"y":1321,"wires":[]},{"id":"a63df578.3afb98","type":"function","z":"4d057ec2.a8e71","name":"","func":"var index=20;\n\nif(msg.topic === \"Data\")\n{\n    flow.set(\"node_\"+index.toString(16).toUpperCase()+\"_id\", msg.payload.node);\n}\nelse if(msg.topic === \"stat\")\n{\n    node = flow.get(\"node_\"+index.toString(16).toUpperCase()+\"_id\") || \"000\"+index.toString(16).toUpperCase();\n \n    var payload = msg.payload;\n    var message = {node : 0, stat: 0};\n\n    message.node = node;\n    message.stat = payload;\n\n    msg.topic = \"Data\";\n    msg.payload = message;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1600,"y":1308,"wires":[["4bd49090.adfdb"]],"inputLabels":["3"]},{"id":"be50fd5.30197","type":"ui_button","z":"4d057ec2.a8e71","name":"","group":"a1a3afd9.0f8af","order":0,"width":0,"height":0,"passthru":true,"label":"Disable Auto Switching","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"Disable","x":230,"y":348,"wires":[["752f22c2.4505ec"]]},{"id":"1e173d68.810b13","type":"ui_button","z":"4d057ec2.a8e71","name":"","group":"a1a3afd9.0f8af","order":0,"width":0,"height":0,"passthru":true,"label":"Enable Auto Switching","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"Enable","x":230,"y":388,"wires":[["752f22c2.4505ec"]]},{"id":"752f22c2.4505ec","type":"function","z":"4d057ec2.a8e71","name":"","func":"var enabled = context.get('auto_switching_enabled')||false;\nvar index = context.get('auto_switching_enabled_idx')||1;\nvar nodes_num = 20;\nvar cycle_stat = context.get('auto_switching_cycle_stat')||0;\nvar current_time = new Date();\nvar DELAY=5*60*1000;\nvar payload = {};\n\nif (msg.topic == \"Enable\") {\n    enabled = true;\n    context.set('auto_switching_enabled',enabled);\n    context.set('auto_switching_enabled_idx', 1);\n} else if (msg.topic == \"Disable\") {\n    enabled = false;\n    context.set('auto_switching_enabled',enabled);\n    context.set('auto_switching_enabled_idx', 1);\n} else if (msg.topic == \"Data\" & enabled) {\n    var token;\n    var node_id;\n    var idx=index;\n    var found = 0;\n\n    for (idx; idx<=nodes_num; idx++)\n    {\n        node_id = \"node_\"+idx.toString(16).toUpperCase()+\"_id\";\n        token = flow.get(node_id) || \"0000\";\n        found = flow.get(token) || 0\n\n        if((current_time.getTime() - found) > DELAY )\n        {\n            continue;\n        }\n        else\n        {\n            var next_idx=idx+1;\n            if(next_idx>nodes_num)\n            {\n                next_idx = 1;\n                context.set('auto_switching_cycle_stat', 1-cycle_stat);\n            }\n            \n            context.set('auto_switching_enabled_idx', next_idx);\n            \n            payload.node = token;\n            payload.stat = cycle_stat;\n            msg.payload = payload;        \n            return msg;\n        }\n    }\n\n    context.set('auto_switching_enabled_idx', 1);\n    context.set('auto_switching_cycle_stat', 1-cycle_stat);\n\n}","outputs":1,"noerr":0,"x":282,"y":488,"wires":[["4bd49090.adfdb"]]},{"id":"b8eb91b8.81a4","type":"inject","z":"4d057ec2.a8e71","name":"","topic":"Data","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":240,"y":428,"wires":[["752f22c2.4505ec"]]},{"id":"b4c3ee2f.bb2d8","type":"mqtt in","z":"4d057ec2.a8e71","name":"telemetry","topic":"devices/LED-GW/LED-GW-000100052687C/telemetry","qos":"2","datatype":"auto","broker":"84102f67.11d6c","x":110,"y":208,"wires":[["1941f39d.9636bc"]]},{"id":"4bd49090.adfdb","type":"function","z":"4d057ec2.a8e71","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1860,"y":248,"wires":[["4c888855.817dd8","9a5f4cca.f63c9"]]},{"id":"9a5f4cca.f63c9","type":"mqtt out","z":"4d057ec2.a8e71","name":"config","topic":"devices/LED-GW/LED-GW-000100052687C/config","qos":"","retain":"","broker":"84102f67.11d6c","x":2040,"y":268,"wires":[]},{"id":"e3c01064.b3897","type":"ui_button","z":"4d057ec2.a8e71","name":"","group":"a1a3afd9.0f8af","order":0,"width":0,"height":0,"passthru":true,"label":"Reset Mesh Client","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"Reset","x":220,"y":548,"wires":[["e36add36.080ff"]]},{"id":"e36add36.080ff","type":"function","z":"4d057ec2.a8e71","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1860,"y":348,"wires":[["284b7f94.4a593","2988005.6201f"]]},{"id":"2988005.6201f","type":"mqtt out","z":"4d057ec2.a8e71","name":"recover_mesh_client","topic":"devices/LED-GW/LED-GW-000100052687C/recover_mesh_client","qos":"","retain":"","broker":"84102f67.11d6c","x":2090,"y":368,"wires":[]},{"id":"284b7f94.4a593","type":"mqtt out","z":"4d057ec2.a8e71","name":"recover_mesh_client","topic":"devices/LED-GW/LED-GW-0001000526CEC/recover_mesh_client","qos":"","retain":"","broker":"84102f67.11d6c","x":2090,"y":328,"wires":[]},{"id":"84102f67.11d6c","type":"mqtt-broker","z":"","name":"ubx.ddns.net","broker":"ubx.ddns.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"901f9766.641618","type":"ui_group","z":"","name":"Group 0","tab":"6252b582.69541c","order":5,"disp":false,"width":"6","collapse":false},{"id":"b6506145.09566","type":"ui_group","z":"","name":"Config0","tab":"6252b582.69541c","order":1,"disp":false,"width":"6","collapse":false},{"id":"1c8d6a76.689146","type":"ui_group","z":"","name":"Config1","tab":"6252b582.69541c","order":2,"disp":false,"width":"6","collapse":false},{"id":"2a53f901.f2fab6","type":"ui_group","z":"4d057ec2.a8e71","name":"Group 1","tab":"6252b582.69541c","order":6,"disp":false,"width":"6","collapse":false},{"id":"84fe1b64.bc28c8","type":"ui_group","z":"","name":"Group 2","tab":"6252b582.69541c","order":7,"disp":false,"width":"6","collapse":false},{"id":"d0c8c6fc.fa1f08","type":"ui_group","z":"","name":"Group 3","tab":"6252b582.69541c","order":8,"disp":false,"width":"6","collapse":false},{"id":"55e32204.55c83c","type":"ui_group","z":"","name":"Group 4","tab":"6252b582.69541c","order":9,"disp":false,"width":"6","collapse":false},{"id":"4eae3b97.bc8d94","type":"ui_group","z":"","name":"Group 5","tab":"6252b582.69541c","order":10,"disp":false,"width":"6","collapse":false},{"id":"ac88d36f.df05c","type":"ui_group","z":"","name":"Group 6","tab":"6252b582.69541c","order":11,"disp":false,"width":"6","collapse":false},{"id":"7a00a930.d26138","type":"ui_group","z":"","name":"Group 7","tab":"6252b582.69541c","order":12,"disp":false,"width":"6","collapse":false},{"id":"b197f2ce.8e2fa","type":"ui_group","z":"","name":"Group 8","tab":"6252b582.69541c","order":13,"disp":false,"width":"6","collapse":false},{"id":"4773d51a.82622c","type":"ui_group","z":"","name":"Group 9","tab":"6252b582.69541c","order":14,"disp":false,"width":"6","collapse":false},{"id":"187543de.09c98c","type":"ui_group","z":"","name":"Config2","tab":"6252b582.69541c","order":3,"disp":false,"width":"6","collapse":false},{"id":"c3f1b53a.2a2738","type":"ui_group","z":"","name":"Group 10","tab":"6252b582.69541c","order":15,"disp":false,"width":"6","collapse":false},{"id":"442dfb40.0e9254","type":"ui_group","z":"","name":"Group 11","tab":"6252b582.69541c","order":16,"disp":false,"width":"6","collapse":false},{"id":"d66f60a3.906b5","type":"ui_group","z":"","name":"Group 12","tab":"6252b582.69541c","order":17,"disp":false,"width":"6","collapse":false},{"id":"7d3b51df.75cb5","type":"ui_group","z":"","name":"Group 13","tab":"6252b582.69541c","order":18,"disp":false,"width":"6","collapse":false},{"id":"c99352c5.c4d8c","type":"ui_group","z":"","name":"Group 14","tab":"6252b582.69541c","order":19,"disp":false,"width":"6","collapse":false},{"id":"2d635934.689d36","type":"ui_group","z":"","name":"Group 15","tab":"6252b582.69541c","order":20,"disp":false,"width":"6","collapse":false},{"id":"3b1a05c0.99de6a","type":"ui_group","z":"","name":"Group 16","tab":"6252b582.69541c","order":21,"disp":false,"width":"6","collapse":false},{"id":"6d62c4f6.c9c3cc","type":"ui_group","z":"","name":"Group 17","tab":"6252b582.69541c","order":22,"disp":false,"width":"6","collapse":false},{"id":"4eef8631.dfe928","type":"ui_group","z":"","name":"Group 18","tab":"6252b582.69541c","order":23,"disp":false,"width":"6","collapse":false},{"id":"3149842.308207c","type":"ui_group","z":"","name":"Group 19","tab":"6252b582.69541c","order":24,"disp":false,"width":"6","collapse":false},{"id":"a1a3afd9.0f8af","type":"ui_group","z":"","name":"Group 1","tab":"7208c764.8170e8","order":1,"disp":false,"width":"6","collapse":false},{"id":"6252b582.69541c","type":"ui_tab","z":"","name":"LED-mesh","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"7208c764.8170e8","type":"ui_tab","z":"","name":"Automatic Switching","icon":"dashboard","order":2,"disabled":false,"hidden":false}]