light_switch_demo_hex/node-red/ble_mesh_with_gateway.json
[{"id":"8b12bd87.18d65","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e768715d.64332","type":"switch","z":"8b12bd87.18d65","name":"","property":"payload.node","propertyType":"msg","rules":[{"t":"eq","v":"0001","vt":"str"},{"t":"eq","v":"0002","vt":"str"},{"t":"eq","v":"0003","vt":"str"},{"t":"eq","v":"0004","vt":"str"},{"t":"eq","v":"0005","vt":"str"},{"t":"eq","v":"0006","vt":"str"},{"t":"eq","v":"0007","vt":"str"},{"t":"eq","v":"0008","vt":"str"},{"t":"eq","v":"0009","vt":"str"},{"t":"eq","v":"000A","vt":"str"},{"t":"eq","v":"000B","vt":"str"},{"t":"eq","v":"000C","vt":"str"},{"t":"eq","v":"000D","vt":"str"},{"t":"eq","v":"000E","vt":"str"},{"t":"eq","v":"000F","vt":"str"},{"t":"eq","v":"0010","vt":"str"},{"t":"eq","v":"0011","vt":"str"},{"t":"eq","v":"0012","vt":"str"},{"t":"eq","v":"0013","vt":"str"},{"t":"eq","v":"0014","vt":"str"}],"checkall":"true","repair":false,"outputs":20,"x":550,"y":820,"wires":[["6ff5da8b.04f754"],["d5c7947a.180648"],["8ef336ba.1c2bd8"],["3b3efd00.94d684"],["32ccb93b.c6def6"],["26df6e99.135232"],["bb76a777.c99e58"],["6d7f70c0.5ef26"],["8a168a66.c76738"],["2ad1ad5e.0c9852"],["b8592932.d47aa8"],["50eac9a1.bf0e48"],["d49fb95.94ba648"],["3caa1b9.44e19e4"],["f00d678a.153828"],["edee8f98.26c5d"],["f7ae9c90.406a2"],["c15d1bc5.f0f968"],["6a9d662d.ace878"],["339d7e04.939c92"]]},{"id":"9a0decd4.25f75","type":"function","z":"8b12bd87.18d65","name":"add time","func":"var payload = msg.payload;\nvar message = {node : \"\", status: \"\", time: 0};\n\nmessage.node = payload.node;\nmessage.stat = payload.stat;\nmessage.time = new Date();\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":80,"wires":[["e768715d.64332","7d2cae1a.3913"]]},{"id":"d19bd75a.2b4ca8","type":"debug","z":"8b12bd87.18d65","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":20,"wires":[]},{"id":"6ff5da8b.04f754","type":"function","z":"8b12bd87.18d65","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":810,"y":300,"wires":[["fbe97f9f.55ac9"],["d03b1220.449cc"],["dd7f4f2d.f5236"]]},{"id":"e93b277b.5ccab8","type":"csv","z":"8b12bd87.18d65","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"node,temp,date","skip":"0","x":210,"y":380,"wires":[["98ccae60.fca62"]]},{"id":"98ccae60.fca62","type":"file","z":"8b12bd87.18d65","name":"","filename":"/home/yanleipo/work/node-red/temp.log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":320,"y":420,"wires":[[]]},{"id":"7d2cae1a.3913","type":"function","z":"8b12bd87.18d65","name":"","func":"var enabled = context.get('enabled')||false;\nif (msg.topic == \"Enable\") {\n    enabled = true;\n    context.set('enabled',enabled);\n} else if (msg.topic == \"Disable\") {\n    enabled = false;\n    context.set('enabled',enabled);\n} else if (msg.topic == \"Data\" & enabled) {\n    var originalPayload = msg.payload;\n    var newPayload = {};\n    newPayload.topic = msg.topic;\n    newPayload.node = originalPayload.node;\n    newPayload.temp = originalPayload.temp;\n    newPayload.date = new Date().toString();\n    msg.payload = newPayload;\n    return msg;\n}","outputs":1,"noerr":0,"x":210,"y":340,"wires":[["e93b277b.5ccab8"]]},{"id":"df2f6475.befe58","type":"ui_button","z":"8b12bd87.18d65","name":"","group":"1715a210.91321e","order":0,"width":0,"height":0,"passthru":true,"label":"Disable Logging","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"Disable","x":240,"y":200,"wires":[["7d2cae1a.3913"]]},{"id":"93a16863.b24508","type":"ui_button","z":"8b12bd87.18d65","name":"","group":"1715a210.91321e","order":0,"width":0,"height":0,"passthru":true,"label":"Enable Logging","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"Enable","x":200,"y":240,"wires":[["7d2cae1a.3913"]]},{"id":"b6956184.a96e3","type":"mqtt in","z":"8b12bd87.18d65","name":"telemetry","topic":"devices/LED-GW/LED-GW-0001000526CEC/telemetry","qos":"2","datatype":"auto","broker":"20d5a3c8.3d192c","x":80,"y":80,"wires":[["eaddc574.b19fe8"]]},{"id":"d03b1220.449cc","type":"ui_switch","z":"8b12bd87.18d65","name":"status","label":"LED 1 status","tooltip":"","group":"e61dee24.efb1f","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":950,"y":282,"wires":[["51c4256e.a6f84c"]]},{"id":"dd7f4f2d.f5236","type":"ui_text","z":"8b12bd87.18d65","group":"e61dee24.efb1f","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-mm-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":950,"y":313,"wires":[]},{"id":"51c4256e.a6f84c","type":"function","z":"8b12bd87.18d65","name":"","func":"node = \"0001\";\nvar payload = msg.payload;\nvar message = {node : 0, stat: 0};\n\nmessage.node = node;\nmessage.stat = payload;\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":282,"wires":[["ff1e0f90.91c5e"]],"inputLabels":["3"]},{"id":"eaddc574.b19fe8","type":"json","z":"8b12bd87.18d65","name":"","property":"payload","action":"","pretty":true,"x":280,"y":80,"wires":[["9a0decd4.25f75"]]},{"id":"4e4f1d76.fafac4","type":"ui_switch","z":"8b12bd87.18d65","name":"status","label":"All Nodes","tooltip":"","group":"f1176ad1.66c678","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":910,"y":100,"wires":[["b86da203.ce7f8"]]},{"id":"b86da203.ce7f8","type":"function","z":"8b12bd87.18d65","name":"","func":"node = \"FFFF\";\nvar payload = msg.payload;\nvar message = {node : 0, stat: 0};\n\nmessage.node = node;\nmessage.stat = payload;\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":100,"wires":[["ff1e0f90.91c5e"]],"inputLabels":["3"]},{"id":"ff1e0f90.91c5e","type":"mqtt out","z":"8b12bd87.18d65","name":"config","topic":"devices/LED-GW/LED-GW-0001000526CEC/config","qos":"","retain":"","broker":"20d5a3c8.3d192c","x":1730,"y":160,"wires":[]},{"id":"8bc9fabc.74b4b8","type":"ui_switch","z":"8b12bd87.18d65","name":"status","label":"Group Control 1","tooltip":"","group":"be3a80b3.4cc7","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":910,"y":148,"wires":[["44ff3924.924098"]]},{"id":"44ff3924.924098","type":"function","z":"8b12bd87.18d65","name":"","func":"node = \"C001\";\nvar payload = msg.payload;\nvar message = {node : 0, stat: 0};\n\nmessage.node = node;\nmessage.stat = payload;\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":148,"wires":[["ff1e0f90.91c5e"]],"inputLabels":["3"]},{"id":"d5c7947a.180648","type":"function","z":"8b12bd87.18d65","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":810,"y":400,"wires":[["fbe97f9f.55ac9"],["f945c934.31bb58"],["415458dc.6ad378"]]},{"id":"f945c934.31bb58","type":"ui_switch","z":"8b12bd87.18d65","name":"status","label":"LED 2 status","tooltip":"","group":"16f0ea95.8c9fc5","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":950,"y":382,"wires":[["96b7a85d.b613a8"]]},{"id":"415458dc.6ad378","type":"ui_text","z":"8b12bd87.18d65","group":"16f0ea95.8c9fc5","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-mm-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":950,"y":413,"wires":[]},{"id":"96b7a85d.b613a8","type":"function","z":"8b12bd87.18d65","name":"","func":"node = \"0002\";\nvar payload = msg.payload;\nvar message = {node : 0, stat: 0};\n\nmessage.node = node;\nmessage.stat = payload;\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":382,"wires":[["ff1e0f90.91c5e"]],"inputLabels":["3"]},{"id":"8ef336ba.1c2bd8","type":"function","z":"8b12bd87.18d65","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":810,"y":500,"wires":[["fbe97f9f.55ac9"],["ddb050d9.b2e03"],["3588b9dc.1d7f76"]]},{"id":"ddb050d9.b2e03","type":"ui_switch","z":"8b12bd87.18d65","name":"status","label":"LED 3 status","tooltip":"","group":"a51ec8de.fbde68","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":950,"y":482,"wires":[["afad028f.7b923"]]},{"id":"3588b9dc.1d7f76","type":"ui_text","z":"8b12bd87.18d65","group":"a51ec8de.fbde68","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-mm-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":950,"y":513,"wires":[]},{"id":"afad028f.7b923","type":"function","z":"8b12bd87.18d65","name":"","func":"node = \"0003\";\nvar payload = msg.payload;\nvar message = {node : 0, stat: 0};\n\nmessage.node = node;\nmessage.stat = payload;\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":482,"wires":[["ff1e0f90.91c5e"]],"inputLabels":["3"]},{"id":"3b3efd00.94d684","type":"function","z":"8b12bd87.18d65","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":810,"y":600,"wires":[["fbe97f9f.55ac9"],["17c3ba3.7176e46"],["847e317c.f557d"]]},{"id":"17c3ba3.7176e46","type":"ui_switch","z":"8b12bd87.18d65","name":"status","label":"LED 4 status","tooltip":"","group":"b2e589ce.251e48","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":950,"y":582,"wires":[["2203c34e.e1129c"]]},{"id":"847e317c.f557d","type":"ui_text","z":"8b12bd87.18d65","group":"b2e589ce.251e48","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-mm-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":950,"y":613,"wires":[]},{"id":"2203c34e.e1129c","type":"function","z":"8b12bd87.18d65","name":"","func":"node = \"0004\";\nvar payload = msg.payload;\nvar message = {node : 0, stat: 0};\n\nmessage.node = node;\nmessage.stat = payload;\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":582,"wires":[["ff1e0f90.91c5e"]],"inputLabels":["3"]},{"id":"32ccb93b.c6def6","type":"function","z":"8b12bd87.18d65","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":810,"y":700,"wires":[["fbe97f9f.55ac9"],["cd1272e5.0dc6"],["666f8333.fbfedc"]]},{"id":"cd1272e5.0dc6","type":"ui_switch","z":"8b12bd87.18d65","name":"status","label":"LED 5 status","tooltip":"","group":"1e1e7414.ac5f2c","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":950,"y":682,"wires":[["3bf0d321.defdcc"]]},{"id":"666f8333.fbfedc","type":"ui_text","z":"8b12bd87.18d65","group":"1e1e7414.ac5f2c","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-mm-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":950,"y":713,"wires":[]},{"id":"3bf0d321.defdcc","type":"function","z":"8b12bd87.18d65","name":"","func":"node = \"0005\";\nvar payload = msg.payload;\nvar message = {node : 0, stat: 0};\n\nmessage.node = node;\nmessage.stat = payload;\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":682,"wires":[["ff1e0f90.91c5e"]],"inputLabels":["3"]},{"id":"26df6e99.135232","type":"function","z":"8b12bd87.18d65","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":1270,"y":300,"wires":[["fbe97f9f.55ac9"],["e853413f.94b54"],["94124ab5.a7f288"]]},{"id":"e853413f.94b54","type":"ui_switch","z":"8b12bd87.18d65","name":"status","label":"LED 6 status","tooltip":"","group":"28e03309.0e511c","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1410,"y":282,"wires":[["fc975901.b041b8"]]},{"id":"94124ab5.a7f288","type":"ui_text","z":"8b12bd87.18d65","group":"28e03309.0e511c","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-mm-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":1410,"y":313,"wires":[]},{"id":"fc975901.b041b8","type":"function","z":"8b12bd87.18d65","name":"","func":"node = \"0006\";\nvar payload = msg.payload;\nvar message = {node : 0, stat: 0};\n\nmessage.node = node;\nmessage.stat = payload;\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":282,"wires":[["ff1e0f90.91c5e"]],"inputLabels":["3"]},{"id":"bb76a777.c99e58","type":"function","z":"8b12bd87.18d65","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":1270,"y":400,"wires":[["fbe97f9f.55ac9"],["ce63da7b.0a8ed8"],["69f4a23a.59d66c"]]},{"id":"ce63da7b.0a8ed8","type":"ui_switch","z":"8b12bd87.18d65","name":"status","label":"LED 7 status","tooltip":"","group":"d28aa7c9.176c98","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1410,"y":382,"wires":[["7bd087b9.1387c8"]]},{"id":"69f4a23a.59d66c","type":"ui_text","z":"8b12bd87.18d65","group":"d28aa7c9.176c98","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-mm-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":1410,"y":413,"wires":[]},{"id":"7bd087b9.1387c8","type":"function","z":"8b12bd87.18d65","name":"","func":"node = \"0007\";\nvar payload = msg.payload;\nvar message = {node : 0, stat: 0};\n\nmessage.node = node;\nmessage.stat = payload;\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":382,"wires":[["ff1e0f90.91c5e"]],"inputLabels":["3"]},{"id":"6d7f70c0.5ef26","type":"function","z":"8b12bd87.18d65","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":1270,"y":500,"wires":[["fbe97f9f.55ac9"],["63051a8f.0457e4"],["93239d3b.20bcb"]]},{"id":"63051a8f.0457e4","type":"ui_switch","z":"8b12bd87.18d65","name":"status","label":"LED 8 status","tooltip":"","group":"c24b2e70.81443","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1410,"y":482,"wires":[["da827255.6e993"]]},{"id":"93239d3b.20bcb","type":"ui_text","z":"8b12bd87.18d65","group":"c24b2e70.81443","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-mm-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":1410,"y":513,"wires":[]},{"id":"da827255.6e993","type":"function","z":"8b12bd87.18d65","name":"","func":"node = \"0008\";\nvar payload = msg.payload;\nvar message = {node : 0, stat: 0};\n\nmessage.node = node;\nmessage.stat = payload;\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":482,"wires":[["ff1e0f90.91c5e"]],"inputLabels":["3"]},{"id":"8a168a66.c76738","type":"function","z":"8b12bd87.18d65","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":1270,"y":600,"wires":[["fbe97f9f.55ac9"],["bebd4.4212342c8"],["e19486d7.31b048"]]},{"id":"bebd4.4212342c8","type":"ui_switch","z":"8b12bd87.18d65","name":"status","label":"LED 9 status","tooltip":"","group":"1fbe4396.a18c3c","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1410,"y":582,"wires":[["bf44dcbd.f83db"]]},{"id":"e19486d7.31b048","type":"ui_text","z":"8b12bd87.18d65","group":"1fbe4396.a18c3c","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-mm-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":1410,"y":613,"wires":[]},{"id":"bf44dcbd.f83db","type":"function","z":"8b12bd87.18d65","name":"","func":"node = \"0009\";\nvar payload = msg.payload;\nvar message = {node : 0, stat: 0};\n\nmessage.node = node;\nmessage.stat = payload;\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":582,"wires":[["ff1e0f90.91c5e"]],"inputLabels":["3"]},{"id":"2ad1ad5e.0c9852","type":"function","z":"8b12bd87.18d65","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":1270,"y":700,"wires":[["fbe97f9f.55ac9"],["7b300cd6.632f34"],["a0bdcbe3.17c738"]]},{"id":"7b300cd6.632f34","type":"ui_switch","z":"8b12bd87.18d65","name":"status","label":"LED A status","tooltip":"","group":"88a49900.9654f8","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1410,"y":682,"wires":[["abe4c8e1.26dfa8"]]},{"id":"a0bdcbe3.17c738","type":"ui_text","z":"8b12bd87.18d65","group":"88a49900.9654f8","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-mm-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":1410,"y":713,"wires":[]},{"id":"abe4c8e1.26dfa8","type":"function","z":"8b12bd87.18d65","name":"","func":"node = \"000A\";\nvar payload = msg.payload;\nvar message = {node : 0, stat: 0};\n\nmessage.node = node;\nmessage.stat = payload;\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":682,"wires":[["ff1e0f90.91c5e"]],"inputLabels":["3"]},{"id":"9fd6c176.3a31b","type":"ui_ui_control","z":"8b12bd87.18d65","name":"","x":1860,"y":80,"wires":[[]]},{"id":"fbe97f9f.55ac9","type":"function","z":"8b12bd87.18d65","name":"","func":"var TAB_NAME=\"LED-mesh\";\nvar GROUP_PREFIX=\"Group\";\nvar DELAY=3600*1000;\nvar current_time = new Date();\nvar found = 0;\nvar ui={\"group\": { \"show\":[], \"hide\":[] } };\n\ncontext.set(msg.payload.node, msg.payload.time.getTime());\n\nfor(i=1; i<=20; i++)\n{\n    var token = ('0000' + i.toString(16).toUpperCase()).slice(-4);\n    found = context.get(token) || 0;\n    if((current_time.getTime() - found) > DELAY )\n    {\n        ui.group.hide.push(TAB_NAME+\"_\"+GROUP_PREFIX+\"_\"+(i-1).toString(10));\n    }\n    else\n    {\n        ui.group.show.push(TAB_NAME+\"_\"+GROUP_PREFIX+\"_\"+(i-1).toString(10));\n    }\n}\n\nmsg.payload = ui;\n\n//msg.payload = {\"group\":{\"show\":[\"LED-mesh_Group_0\"], \"hide\":[\"LED-mesh_Group_1\", \"LED-mesh_Group_2\", \"LED-mesh_Group_3\", \"LED-mesh_Group_4\", \"LED-mesh_Group_5\", \"LED-mesh_Group_6\", \"LED-mesh_Group_7\", \"LED-mesh_Group_8\", \"LED-mesh_Group_9\"]}};\n\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":80,"wires":[["9fd6c176.3a31b"]]},{"id":"c7b8035b.671c3","type":"ui_switch","z":"8b12bd87.18d65","name":"status","label":"Group Control 2","tooltip":"","group":"b52363c1.5ae2e","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":910,"y":196,"wires":[["69ac1277.6d326c"]]},{"id":"69ac1277.6d326c","type":"function","z":"8b12bd87.18d65","name":"","func":"node = \"C002\";\nvar payload = msg.payload;\nvar message = {node : 0, stat: 0};\n\nmessage.node = node;\nmessage.stat = payload;\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":196,"wires":[["ff1e0f90.91c5e"]],"inputLabels":["3"]},{"id":"b8592932.d47aa8","type":"function","z":"8b12bd87.18d65","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":810,"y":840,"wires":[["fbe97f9f.55ac9"],["b8f7aca5.24c2c"],["b109ff63.9deb1"]]},{"id":"b8f7aca5.24c2c","type":"ui_switch","z":"8b12bd87.18d65","name":"status","label":"LED B status","tooltip":"","group":"6ebbb56d.79d21c","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":950,"y":822,"wires":[["31648a72.045636"]]},{"id":"b109ff63.9deb1","type":"ui_text","z":"8b12bd87.18d65","group":"6ebbb56d.79d21c","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-mm-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":950,"y":853,"wires":[]},{"id":"31648a72.045636","type":"function","z":"8b12bd87.18d65","name":"","func":"node = \"000B\";\nvar payload = msg.payload;\nvar message = {node : 0, stat: 0};\n\nmessage.node = node;\nmessage.stat = payload;\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":822,"wires":[["ff1e0f90.91c5e"]],"inputLabels":["3"]},{"id":"50eac9a1.bf0e48","type":"function","z":"8b12bd87.18d65","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":810,"y":940,"wires":[["fbe97f9f.55ac9"],["eb100b15.51e018"],["8bba0660.f57818"]]},{"id":"eb100b15.51e018","type":"ui_switch","z":"8b12bd87.18d65","name":"status","label":"LED C status","tooltip":"","group":"953e68aa.511788","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":950,"y":922,"wires":[["4ca29c58.c4a014"]]},{"id":"8bba0660.f57818","type":"ui_text","z":"8b12bd87.18d65","group":"953e68aa.511788","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-mm-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":950,"y":953,"wires":[]},{"id":"4ca29c58.c4a014","type":"function","z":"8b12bd87.18d65","name":"","func":"node = \"000C\";\nvar payload = msg.payload;\nvar message = {node : 0, stat: 0};\n\nmessage.node = node;\nmessage.stat = payload;\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":922,"wires":[["ff1e0f90.91c5e"]],"inputLabels":["3"]},{"id":"d49fb95.94ba648","type":"function","z":"8b12bd87.18d65","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":810,"y":1040,"wires":[["fbe97f9f.55ac9"],["9949d5b1.abdb38"],["e20dceec.3948"]]},{"id":"9949d5b1.abdb38","type":"ui_switch","z":"8b12bd87.18d65","name":"status","label":"LED D status","tooltip":"","group":"4df1f76b.a090d8","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":950,"y":1022,"wires":[["3de3568e.10fd3a"]]},{"id":"e20dceec.3948","type":"ui_text","z":"8b12bd87.18d65","group":"4df1f76b.a090d8","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-mm-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":950,"y":1053,"wires":[]},{"id":"3de3568e.10fd3a","type":"function","z":"8b12bd87.18d65","name":"","func":"node = \"000D\";\nvar payload = msg.payload;\nvar message = {node : 0, stat: 0};\n\nmessage.node = node;\nmessage.stat = payload;\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":1022,"wires":[["ff1e0f90.91c5e"]],"inputLabels":["3"]},{"id":"3caa1b9.44e19e4","type":"function","z":"8b12bd87.18d65","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":810,"y":1140,"wires":[["fbe97f9f.55ac9"],["20fcd23e.89775e"],["c8dc11d8.0c0b7"]]},{"id":"20fcd23e.89775e","type":"ui_switch","z":"8b12bd87.18d65","name":"status","label":"LED E status","tooltip":"","group":"8c3cd5cc.b3c668","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":950,"y":1122,"wires":[["fdd3ce2b.e91ff"]]},{"id":"c8dc11d8.0c0b7","type":"ui_text","z":"8b12bd87.18d65","group":"8c3cd5cc.b3c668","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-mm-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":950,"y":1153,"wires":[]},{"id":"fdd3ce2b.e91ff","type":"function","z":"8b12bd87.18d65","name":"","func":"node = \"000E\";\nvar payload = msg.payload;\nvar message = {node : 0, stat: 0};\n\nmessage.node = node;\nmessage.stat = payload;\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":1122,"wires":[["ff1e0f90.91c5e"]],"inputLabels":["3"]},{"id":"f00d678a.153828","type":"function","z":"8b12bd87.18d65","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":810,"y":1240,"wires":[["fbe97f9f.55ac9"],["c654404.6b719c"],["746ed310.98ae7c"]]},{"id":"c654404.6b719c","type":"ui_switch","z":"8b12bd87.18d65","name":"status","label":"LED F status","tooltip":"","group":"74ba1fac.31fd1","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":950,"y":1222,"wires":[["558a165b.adf088"]]},{"id":"746ed310.98ae7c","type":"ui_text","z":"8b12bd87.18d65","group":"74ba1fac.31fd1","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-mm-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":950,"y":1253,"wires":[]},{"id":"558a165b.adf088","type":"function","z":"8b12bd87.18d65","name":"","func":"node = \"000F\";\nvar payload = msg.payload;\nvar message = {node : 0, stat: 0};\n\nmessage.node = node;\nmessage.stat = payload;\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":1222,"wires":[["ff1e0f90.91c5e"]],"inputLabels":["3"]},{"id":"edee8f98.26c5d","type":"function","z":"8b12bd87.18d65","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":1270,"y":840,"wires":[["fbe97f9f.55ac9"],["b4db9200.1ff63"],["390f8d19.ef7452"]]},{"id":"b4db9200.1ff63","type":"ui_switch","z":"8b12bd87.18d65","name":"status","label":"LED 10 status","tooltip":"","group":"7a8bb053.9cac2","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1410,"y":822,"wires":[["86bd4217.4b72e"]]},{"id":"390f8d19.ef7452","type":"ui_text","z":"8b12bd87.18d65","group":"7a8bb053.9cac2","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-mm-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":1410,"y":853,"wires":[]},{"id":"86bd4217.4b72e","type":"function","z":"8b12bd87.18d65","name":"","func":"node = \"0010\";\nvar payload = msg.payload;\nvar message = {node : 0, stat: 0};\n\nmessage.node = node;\nmessage.stat = payload;\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":822,"wires":[["ff1e0f90.91c5e"]],"inputLabels":["3"]},{"id":"f7ae9c90.406a2","type":"function","z":"8b12bd87.18d65","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":1270,"y":940,"wires":[["fbe97f9f.55ac9"],["c6896d6f.6e8d4"],["7f77149d.22846c"]]},{"id":"c6896d6f.6e8d4","type":"ui_switch","z":"8b12bd87.18d65","name":"status","label":"LED 11 status","tooltip":"","group":"92289c8e.95ab7","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1410,"y":922,"wires":[["5cf335ca.bd2e7c"]]},{"id":"7f77149d.22846c","type":"ui_text","z":"8b12bd87.18d65","group":"92289c8e.95ab7","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-mm-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":1410,"y":953,"wires":[]},{"id":"5cf335ca.bd2e7c","type":"function","z":"8b12bd87.18d65","name":"","func":"node = \"0011\";\nvar payload = msg.payload;\nvar message = {node : 0, stat: 0};\n\nmessage.node = node;\nmessage.stat = payload;\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":922,"wires":[["ff1e0f90.91c5e"]],"inputLabels":["3"]},{"id":"c15d1bc5.f0f968","type":"function","z":"8b12bd87.18d65","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":1270,"y":1040,"wires":[["fbe97f9f.55ac9"],["83cc023d.40f9a"],["c3f99503.0d6188"]]},{"id":"83cc023d.40f9a","type":"ui_switch","z":"8b12bd87.18d65","name":"status","label":"LED 12 status","tooltip":"","group":"c808ac0f.ed1a5","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1410,"y":1022,"wires":[["bfef0fff.f582c"]]},{"id":"c3f99503.0d6188","type":"ui_text","z":"8b12bd87.18d65","group":"c808ac0f.ed1a5","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-mm-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":1410,"y":1053,"wires":[]},{"id":"bfef0fff.f582c","type":"function","z":"8b12bd87.18d65","name":"","func":"node = \"0012\";\nvar payload = msg.payload;\nvar message = {node : 0, stat: 0};\n\nmessage.node = node;\nmessage.stat = payload;\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":1022,"wires":[["ff1e0f90.91c5e"]],"inputLabels":["3"]},{"id":"6a9d662d.ace878","type":"function","z":"8b12bd87.18d65","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":1270,"y":1140,"wires":[["fbe97f9f.55ac9"],["200c49eb.dc88e6"],["4db12a0e.f28fe4"]]},{"id":"200c49eb.dc88e6","type":"ui_switch","z":"8b12bd87.18d65","name":"status","label":"LED 13 status","tooltip":"","group":"bfcfea54.bbc4e8","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1410,"y":1122,"wires":[["7fcfd025.653a4"]]},{"id":"4db12a0e.f28fe4","type":"ui_text","z":"8b12bd87.18d65","group":"bfcfea54.bbc4e8","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-mm-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":1410,"y":1153,"wires":[]},{"id":"7fcfd025.653a4","type":"function","z":"8b12bd87.18d65","name":"","func":"node = \"0013\";\nvar payload = msg.payload;\nvar message = {node : 0, stat: 0};\n\nmessage.node = node;\nmessage.stat = payload;\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":1122,"wires":[["ff1e0f90.91c5e"]],"inputLabels":["3"]},{"id":"339d7e04.939c92","type":"function","z":"8b12bd87.18d65","name":"Split","func":"var msg1 = {payload: msg.payload.stat};\nvar msg2 = {payload: msg.payload.time};\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"x":1270,"y":1240,"wires":[["fbe97f9f.55ac9"],["ff3c3f66.de328"],["c1ea481a.d4f3d8"]]},{"id":"ff3c3f66.de328","type":"ui_switch","z":"8b12bd87.18d65","name":"status","label":"LED 14 status","tooltip":"","group":"1ea6fed3.a45f81","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"stat","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1410,"y":1222,"wires":[["761db092.2193b"]]},{"id":"c1ea481a.d4f3d8","type":"ui_text","z":"8b12bd87.18d65","group":"1ea6fed3.a45f81","order":6,"width":0,"height":0,"name":"Time","label":"Time (latest received value)","format":"{{msg.payload | date : 'yyyy-mm-dd HH:mm:sss' : '+0800'}}","layout":"col-center","x":1410,"y":1253,"wires":[]},{"id":"761db092.2193b","type":"function","z":"8b12bd87.18d65","name":"","func":"node = \"0014\";\nvar payload = msg.payload;\nvar message = {node : 0, stat: 0};\n\nmessage.node = node;\nmessage.stat = payload;\n\nmsg.topic = \"Data\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":1222,"wires":[["ff1e0f90.91c5e"]],"inputLabels":["3"]},{"id":"1715a210.91321e","type":"ui_group","z":"","name":"Group 1","tab":"8351ca6.1bcfd38","order":1,"disp":false,"width":"6","collapse":false},{"id":"20d5a3c8.3d192c","type":"mqtt-broker","z":"","name":"ubx.ddns.net","broker":"ubx.ddns.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e61dee24.efb1f","type":"ui_group","z":"","name":"Group 0","tab":"9ba61d02.c903c","order":5,"disp":false,"width":"6","collapse":false},{"id":"f1176ad1.66c678","type":"ui_group","z":"","name":"Config0","tab":"9ba61d02.c903c","order":1,"disp":false,"width":"6","collapse":false},{"id":"be3a80b3.4cc7","type":"ui_group","z":"","name":"Config1","tab":"9ba61d02.c903c","order":2,"disp":false,"width":"6","collapse":false},{"id":"16f0ea95.8c9fc5","type":"ui_group","z":"8b12bd87.18d65","name":"Group 1","tab":"9ba61d02.c903c","order":6,"disp":false,"width":"6","collapse":false},{"id":"a51ec8de.fbde68","type":"ui_group","z":"","name":"Group 2","tab":"9ba61d02.c903c","order":7,"disp":false,"width":"6","collapse":false},{"id":"b2e589ce.251e48","type":"ui_group","z":"","name":"Group 3","tab":"9ba61d02.c903c","order":8,"disp":false,"width":"6","collapse":false},{"id":"1e1e7414.ac5f2c","type":"ui_group","z":"","name":"Group 4","tab":"9ba61d02.c903c","order":9,"disp":false,"width":"6","collapse":false},{"id":"28e03309.0e511c","type":"ui_group","z":"","name":"Group 5","tab":"9ba61d02.c903c","order":10,"disp":false,"width":"6","collapse":false},{"id":"d28aa7c9.176c98","type":"ui_group","z":"","name":"Group 6","tab":"9ba61d02.c903c","order":11,"disp":false,"width":"6","collapse":false},{"id":"c24b2e70.81443","type":"ui_group","z":"","name":"Group 7","tab":"9ba61d02.c903c","order":12,"disp":false,"width":"6","collapse":false},{"id":"1fbe4396.a18c3c","type":"ui_group","z":"","name":"Group 8","tab":"9ba61d02.c903c","order":13,"disp":false,"width":"6","collapse":false},{"id":"88a49900.9654f8","type":"ui_group","z":"","name":"Group 9","tab":"9ba61d02.c903c","order":14,"disp":false,"width":"6","collapse":false},{"id":"b52363c1.5ae2e","type":"ui_group","z":"","name":"Config2","tab":"9ba61d02.c903c","order":3,"disp":false,"width":"6","collapse":false},{"id":"6ebbb56d.79d21c","type":"ui_group","z":"","name":"Group 10","tab":"9ba61d02.c903c","order":15,"disp":false,"width":"6","collapse":false},{"id":"953e68aa.511788","type":"ui_group","z":"","name":"Group 11","tab":"9ba61d02.c903c","order":16,"disp":false,"width":"6","collapse":false},{"id":"4df1f76b.a090d8","type":"ui_group","z":"","name":"Group 12","tab":"9ba61d02.c903c","order":17,"disp":false,"width":"6","collapse":false},{"id":"8c3cd5cc.b3c668","type":"ui_group","z":"","name":"Group 13","tab":"9ba61d02.c903c","order":18,"disp":false,"width":"6","collapse":false},{"id":"74ba1fac.31fd1","type":"ui_group","z":"","name":"Group 14","tab":"9ba61d02.c903c","order":19,"disp":false,"width":"6","collapse":false},{"id":"7a8bb053.9cac2","type":"ui_group","z":"","name":"Group 15","tab":"9ba61d02.c903c","order":20,"disp":false,"width":"6","collapse":false},{"id":"92289c8e.95ab7","type":"ui_group","z":"","name":"Group 16","tab":"9ba61d02.c903c","order":21,"disp":false,"width":"6","collapse":false},{"id":"c808ac0f.ed1a5","type":"ui_group","z":"","name":"Group 17","tab":"9ba61d02.c903c","order":22,"disp":false,"width":"6","collapse":false},{"id":"bfcfea54.bbc4e8","type":"ui_group","z":"","name":"Group 18","tab":"9ba61d02.c903c","order":23,"disp":false,"width":"6","collapse":false},{"id":"1ea6fed3.a45f81","type":"ui_group","z":"","name":"Group 19","tab":"9ba61d02.c903c","order":24,"disp":false,"width":"6","collapse":false},{"id":"8351ca6.1bcfd38","type":"ui_tab","z":"","name":"Logging","icon":"dashboard","order":2},{"id":"9ba61d02.c903c","type":"ui_tab","z":"","name":"LED-mesh","icon":"dashboard","order":1,"disabled":false,"hidden":false}]